<template is="dom-module" id="router-view">
    <style type="text/css">
    </style>
    <template>
    </template>
    <script>
        Nova({
            is: 'router-view',
            props: {
                content: {
                    type: String,
                    value: ''
                },
            },
            createdHandler: function() {
            },
            attachedHandler: function() {
            },
            detachedHandler: function() { 
            },
            attributeChangedHandler: function(attrName, oldVal, newVal) { 
            },
        });
    </script>
</template>